a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.talk {
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  width: 15rem;
  text-align: center;
}

.share-story{
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  width: 15rem;
  text-align: center;
}