a {
  transition: all 0.6s ease;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button:hover {
  background-color: #b5b5b6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}

.chat-input {
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.chat-button {
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 2.5rem;
}

span {
  font-size: 1.5rem;
}

/*a*/
