.share-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 0 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: #fff;
  border-radius: 0px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  resize: none;
  background-color: transparent;
  outline: none;
  transition: all 0.6s ease;
}

.textarea:hover {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: all 0.8s ease; /* transition duration of 0.5 seconds */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  resize: none;
}

textarea {
  height: 150px;
}