body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #590898, #ff560e);
  height: 100vh;
  color: white;
  overflow: hidden;
}

* {
  line-height: 1.5em;
  box-sizing: border-box;
}

#root {
  position: absolute;
  inset: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
  margin: 0;
}

/* No background on scrollbar, but keep the thumb visible */
::-webkit-scrollbar {
  background: transparent;
}

.chat-message {
  width: calc(min(min(60rem, 100% - 2rem) - 2rem, 100% - 2rem));
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  outline: none;
}

.cm-user {
  background-color: rgba(255, 92, 155, 0.621);
}

.cm-assistant {
  background-color: rgba(255, 255, 255, 0.382);
}

.share-button {
  width: 25rem;
  background-color: rgba(60, 60, 200);
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: #000;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  resize: none;
  background: #fff;
}

button,
.button {
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 15rem;
  text-align: center;
  cursor: pointer;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.main-container {
  /* Add border-radius to make the box rounded */
  border-radius: 30px;

  /* Center the box both horizontally and vertically */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;

  z-index: 1;

  /* Use backdrop filter to create a blurred background */
  backdrop-filter: blur(10px);

  /* Make the background color transparent */
  background-color: rgba(255, 255, 255, 0.2);
  /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);*/
}

.smooth-height {
  transition: height 0.5s ease-in-out;
}

.share-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.chat-input:hover {
  background-color: #862f75;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: all 0.8s ease;
  outline: 0; /* transition duration of 0.5 seconds */
}

.chat-input {
  background-color: #b5b5b6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: all 0.8s ease;
  outline: 0; /* transition duration of 0.5 seconds */
}